body{
    margin: 0px;
    padding: 0px;
}



@media (max-width: 960px) {
    .letterBox {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 600px) {      
    .letterBox {
        width: 100%;
        height: 100%;
    }
}